body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Adicionei uma cor de fundo para melhor visualização */
}

.botão {
    padding: 10px 20px; /* Ajustei o padding para algo mais razoável */
    cursor: pointer;
    background-color: #B0CFEE;
    color: #155793;
    margin: 10px; /* Adicionei um espaçamento entre os botões */
}

.conteiner {
    text-align: center;
}

.pedido {
    text-align: center;
    color: #155793;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Reduzi o tamanho da fonte para melhorar a aparência */
    transition: all 0.5s;
    color: #155793;
    margin-top: 20px; /* Adicionei um espaçamento superior */
}




